body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
  }
  
  .hierarchy {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 8px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 20px; /* Adjust left margin as needed */
  }
  
  .card-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .card:hover {
    background-color: #f5f5f5;
  }
  
  .checkbox {
    margin-right: 10px;
    appearance: none;
    border-radius: 30%;
    width: 14px;
    height: 14px;
    border: 2px solid #282e29f3;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
  }
  
  .checkbox:checked {
    background-color: #32a22a;
  }
  
  .manager-name {
    flex-grow: 1;
    font-weight: bold;
  }
  
  .arrow {
    margin-left: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8px;
    border-color: transparent transparent transparent #555;
    transition: transform 0.2s ease-in-out;
  }
  
  .arrow.down {
    transform: rotate(90deg);
  }
  
  .sub-manager-count {
    margin-left: 8px;
    font-size: 0.8em;
    color: #777;
  }
  
  ul ul {
    margin-left: 5px;
    margin-top: -20px;
  }
  
  div {
    margin-top: 10px;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 768px) {
    .card-header {
      padding: 10px 8px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .card-header {
      padding: 8px 6px;
    }
  }
  